<div class="d-flex flex-column p-4 bg-primary text-white border-end shadow" style="width: 250px; height: 100%;">
  <h4 class="text-center py-3 border-bottom">Did You Know?</h4>
  <p class="mt-3">
    Honey never spoils. Archaeologists have found pots of honey in ancient Egyptian tombs that are over 3,000 years old and still perfectly edible.
  </p>
  <hr class="border-light">
  <h5 class="text-center">Fun Fact</h5>
  <p class="mt-2">
    A group of flamingos is called a "flamboyance."
  </p>
  <hr class="border-light">
  <h5 class="text-center">Quote of the Day</h5>
  <p class="mt-2 fst-italic">
    "The only limit to our realization of tomorrow is our doubts of today." – Franklin D. Roosevelt
  </p>
</div>
