<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo or brand name -->
      <a class="navbar-brand" routerLink="/">ML_03</a>
  
      <!-- Toggle button for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/guest/view-products" routerLinkActive="active">View Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users/add-products" routerLinkActive="active">Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  